@{
    Layout = "~/Views/Shared/_TransparentLayout.cshtml";
}
@section Styles{
    <link rel="stylesheet" asp-append-version="true" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/css/views/portal/index.css" rel="stylesheet" asp-append-version="true" />
}

<div class="bg-dark" style="opacity: 0.9; background-image: url('../images/general/quienes-somos.png'); background-size: cover; height: 250px;">
    <div class="m--margin-top-90">
        <div class="container">
                <h2 class="toast-title portal-title text-white" >¿Por qu&eacute; Legal Connection?</h2>
            </div>
    </div>
</div>
<div class="lc-background-light-blue">
    <div class="container" id="mission-vision">

    </div>
    <div id="our-team">

    </div>
</div>

@section Scripts{
    <script src="~/js/views/portal/aboutus.js" asp-append-version="true"></script>
}
