@{
    Layout = "~/Views/Shared/_TransparentLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/css/views/portal/index.css" rel="stylesheet" asp-append-version="true" />
}
<div class="bg-dark" style="opacity: 0.9; background-image: url('../images/general/quienes-somos.png'); background-size: cover; height: 250px;">
    <div class="m--margin-top-90">
        <div class="container">
            <h2 class="toast-title portal-title text-white">T&Eacute;RMINOS Y CONDICIONES</h2>
        </div>
    </div>
</div>
@*<div class="lc-background-light-blue">
    <div class="container">
        <div class="m--padding-20-desktop m--padding-20-tablet m--padding-10-mobile">
            <div class="m-portlet">
                <div class="m-portlet__body">

                    <ol class="ordered-list-roman m--padding-left-60-desktop m--padding-right-60-desktop m--padding-left-30-tablet m--padding-right-30-tablet m--padding-left-10-mobile m--padding-right-10-mobile">
                        <li>
                            <h3 style="font-weight:bold;">Introducción</h3>
                            <p>
                                El presente documento establece los términos y condiciones generales de uso “Términos y Condiciones Generales” que serán aplicables cuando los profesionales de derecho o abogados (los
                                <b class="lc-italic">“Profesionales de Derecho”)</b> accedan y utilicen la plataforma digital y/o la página web
                                <a target="_blank" href="https://www.legalconnection.pe/">www.legalconnection.pe</a> (en adelante,
                                de manera conjunta <b class="lc-italic">“Plataforma”)</b>,
                                cuya titularidad corresponde a Legal Technology Perú S.A.C (la <b class="lc-italic">“Sociedad”)</b>,
                                identificada con RUC No. 20606274395 y debidamente establecida en la República del Perú <b class="lc-italic">(“Perú”)</b>
                                <br />
                                <br />
                                Es necesario también leer la Política de Privacidad,
                                en donde detallamos nuestras prácticas de tratamiento de información personal.
                                Nos preocupamos por mantener seguros a nuestros usuarios y estamos en constante trabajo para recopilar la información de manera confidencial.
                                El acceso y/o utilización de la Plataforma atribuye al internauta la condición de usuario de la Plataforma (el <b class="lc-italic">“Usuario” o los “Usuarios”)</b>,
                                lo cual implica la aceptación de todas las disposiciones incluidas en el presente documento.
                                <br />
                                <br />
                                La Sociedad informa a los Usuarios que en caso de incumplimiento a cualquiera de las disposiciones contenidas en los presentes Términos y Condiciones o en la Política de Privacidad,
                                la Sociedad podrá suspender su cuenta de usuario, retirarle o denegarle el acceso a la Plataforma, en cualquier momento.
                                <br />
                                <br />
                                Se considerará infracción a los presentes Términos y Condiciones, entre otros, la comisión o participación en actos que constituyan conductas abusivas,
                                inapropiadas o ilícitas, actividades fraudulentas o ilegales y en general el comercio de cualquier objeto ilícito o producto de un delito.
                                <br />
                                <br />
                            </p>
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Definiciones</h3>
                            <p>
                                Sin perjuicio de los términos definidos en diversas secciones del presente documento, los términos aquí utilizados con la primera letra mayúscula y que no sean definidos de forma diversa,
                                tendrán el significado que a continuación se les atribuye, pudiendo ser utilizados en masculino, femenino o neutro, así como en singular o en plural, indistintamente y según el contexto:
                                <ul class="lc-definition-list">
                                    <li aria-label="Casos Legales:">
                                        es aquel proceso mediante el cual el Cliente detalla un caso en específico a fin de que algún Profesional de Derecho registrado y elegido por la Plataforma
                                        pueda orientarlo y ayudarlo a gestionar y/o solucionar lo que el caso requiera.
                                    </li>
                                    <li aria-label="Cliente:">
                                        es aquella persona natural o jurídica que accede, utiliza y se registra en la Plataforma a fin de acceder al Servicio de Asesoría Legal provisto por un Profesional de Derecho.
                                    </li>
                                    <li aria-label="Datos Sensibles:">
                                        datos personales constituidos por los datos biométricos que por si mismos pueden identificar al titular;
                                        datos referidos al origen racial y étnico; ingresos económicos; opiniones o convicciones políticas, religiosas, filosóficas o morales;
                                        afiliación sindical e información relacionada a la salud o a la vida sexual.
                                    </li>
                                    <li aria-label="Consultas Legales:">
                                        es aquel proceso de contacto mediante el cual el Cliente detalla y explica un problema en específico a fin de que el Profesional de Derecho
                                        elegido por el Cliente pueda orientarlo y ayudarlo a solucionar dicho problema.
                                    </li>
                                    <li aria-label="Cuenta Única o Cuenta Única del Profesional de Derecho">
                                        es la forma de identificación creada (que consta de un ID de acceso y contraseña) que se le da a los Usuarios para que puedan acceder a los Servicios que ofrece la Plataforma.
                                    </li>
                                    <li aria-label="Directorio:">
                                        es la interfaz pública de la Plataforma donde el Profesional de Derecho podrá publicar su Perfil a
                                        fin de que los Usuarios y Clientes que accedan a la Plataforma conozcan su información profesional.
                                    </li>
                                    <li aria-label="Leyes Vigentes:">
                                        significan todas las leyes, códigos, normas jurídicas, ordenanzas, reglamentos, tratados, reglas, normas, permisos, resoluciones, órdenes, interpretaciones, decisiones, interdictos,
                                        así como las normas, resoluciones y sentencias que actualmente o en el futuro estén vigentes en Perú y resulten aplicables a los Profesionales de Derecho y/o al Cliente.
                                    </li>
                                    <li aria-label="Membresías:">
                                        Son aquellos tipos de suscripción a los que tiene opción el Profesional de Derecho, a fin de poder brindar sus Servicios de Asesoría Legal a través su Cuenta Única del Profesional del Derecho,
                                        cada una de las cuales brinda diferentes tipos de acceso en la Plataforma.
                                    </li>
                                    <li aria-label="Cuenta Única:">
                                        es la forma de identificación creada (que consta de un ID de acceso y contraseña) que la Plataforma otorgará a cada Profesional de Derecho a fin de que pueda colocar su información profesional,
                                        organizar y administrar las solicitudes de Servicios de Asesoría Legal.
                                    </li>
                                    <li aria-label="Perfil del Profesional:">
                                        se refiere a la interfaz de la Plataforma donde el Profesional de Derecho podrá colocar su información profesional, administrar y gestionar todos los requerimientos de Servicios Legales,
                                        interactuar con el Cliente, entre otras funcionalidades relacionadas con el Servicio de Asesoría Legal.
                                    </li>
                                    <li aria-label="Plataforma:">
                                        se refiere a los medios digitales, plataforma y sitio web, cuyas titularidades, corresponden a la Sociedad, a través de los cuales los Profesionales de Derechos y
                                        los Clientes podrán interconectarse.
                                    </li>
                                    <li aria-label="Profesional de Derecho:">
                                        es la persona natural especialista en una rama de derecho, colegiada, con registro y habilitación del colegio profesional correspondiente.
                                    </li>
                                    <li aria-label="Servicio:">
                                        es el servicio brindado por la Sociedad, el cual consiste en brindar al Profesional de Derecho el acceso a una plataforma de comunicación en línea que le permitirá interconectar con los Clientes,
                                        a fin de ofrecerles a estos últimos sus Servicios de Asesoría Legal.
                                    </li>
                                    <li aria-label="Servicio de Asesoría Legal:">
                                        es la consejería y/o asistencia realizada por el Profesional de Derecho en favor de un Cliente con el fin de proporcionar un asesoramiento determinado para absolver la Consulta Legal planteada por el Cliente.
                                    </li>
                                    <li aria-label="Tarifa:">
                                        es la Tarifa que el Profesional de Derecho cobrará a los Clientes por el Servicio de Asesoria Legal que brinden a través de la Plataforma.
                                    </li>
                                    <li aria-label="Usuarios:">
                                        es la persona natural que accede a la Plataforma, los cuales podrán ser (i) el Profesional de Derecho o (ii) Cliente, según corresponda.
                                    </li>
                                </ul>
                                <br />
                            </p>
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Descripción del Servicio</h3>
                            <p>
                                La Sociedad es una empresa que a través de la Plataforma interconecta a los Profesionales de Derecho con los Clientes,
                                a fin de que los Profesionales de Derecho puedan ofrecer a éstos últimos sus Servicios de Asesoría Legal.
                                La Plataforma tiene como único y exclusivo objetivo servir como intermediario digital entre los Profesionales de Derecho y el Cliente;
                                por lo que, en ningún momento y bajo ninguna circunstancia, se entenderá que el fin u objetivo de la Sociedad es proveer servicios de asesoría legal y/o
                                contratar a profesionales de derecho para que presten dichos servicios.
                                <br />
                                <br />
                                En ese sentido, el Profesional de Derecho reconoce que no mantiene vínculo laboral o relación civil alguna con la Sociedad.
                                El Profesional de Derecho conoce y acepta que será responsable por la prestación de los Servicios de Asesoría Legal. En ese sentido,
                                el Profesional de Derecho se compromete a liberar de responsabilidad, mantener indemne, a la Sociedad y a sus accionistas, de y contra todos, las responsabilidades,
                                perjuicios y/o daños que pudieran surgir de la prestación de sus Servicios de Asesoría Legal.
                                <br />
                                <br />
                            </p>
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Registro del Profesional de Derecho</h3>
                            <p>
                                Para hacer uso de la Plataforma, en el caso del Profesional de Derecho deberá completar un formulario de registro donde deberá consignar datos de su información personal,
                                así como, elegir un plan de suscripción <b class="lc-italic">(“Plan de Suscripción”)</b>, conforme se encuentra detallado en el numeral VII del presente documento a fin de solicitar
                                la creación de una Cuenta Única del Profesional de Derecho <b class="lc-italic">(“Solicitud de Registro”)</b>. Los datos que se requerirán para el registro serán:
                                nombre completo, DNI, No. de CAL, correo electrónico, especialidad de área en el Derecho, estudios académicos, entre otros.
                                <br />
                                <br />
                                Luego de realizada la Solicitud de Registro, el Profesional de Derecho recibirá un correo electrónico con un enlace que le permitirá al Profesional de Derecho validar
                                la realización de la Solicitud de Registro y que envíe los documentos que la Plataforma le solicite para validar que efectivamente es un Profesional de Derecho idóneo
                                para prestar el Servicios de Asesoría Legal a través de la Plataforma <b class="lc-italic">(“Procedimiento de Validación”)</b>.
                                <br />
                                <br />
                                Una vez que el Profesional de Derecho haya superado exitosamente el Procedimiento de Validación, se le asignará al Profesional de Derecho una Cuenta Única del Profesional
                                de Derecho mediante el cual podrá acceder a su Perfil, donde únicamente podrá colocar su información profesional y académica, así como las demás funcionalidades que la
                                Plataforma ponga a su disposición, conforme a lo establecido en el numeral VI del presente documento.
                                <br />
                                <br />
                                Sin perjuicio de lo antes descrito, el Profesional de Derecho conoce y acepta que la Sociedad no se encuentra obligada a aceptar su Solicitud de Registro.
                                La Sociedad cuenta con discrecionalidad para aprobar o denegar las Solicitudes de Registro conforme a los criterios que considere conveniente utilizar para dicho proceso.
                                <br />
                                <br />
                                La Sociedad se reserva los derechos de suspender y de extinguir la Cuenta Única de cualquier Profesional de Derecho que proporcione información falsa,
                                inexacta o engañosa. Asimismo, la Sociedad podrá utilizar diversos medios para identificar al Profesional de Derecho, sin que esto implique que la Sociedad se
                                responsabilice por la certeza de la información provista por la persona física que ostente como Profesional de Derecho.
                                <br />
                                <br />
                            </p>
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Registro de Clientes</h3>
                            <p>
                                A fin de que los Clientes puedan obtener los Servicios de Asesoría legal deberán registrarse en la Plataforma, debiendo completar el formulario de registro con la siguiente información:
                                nombre y DNI del contacto directo y/o representante del Cliente, teléfono, correo electrónico, entre otros;
                                sin perjuicio de la información adicional, que le haya requerido la Sociedad, o que pueda requerir en un futuro.
                                <br />
                                <br />
                                El Cliente deberá de proporcionar información certera, completa y actualizada. No hacerlo representa una violación de los presentes Términos y Condiciones lo cual podría
                                significar la cancelación de la cuenta y/o la resolución contractual (de ser aplicable), en caso la plataforma lo considere conveniente.
                                <br />
                                <br />
                            </p>
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Funcionalidades de la Plataforma </h3>
                            <ul class="lc-definition-list">
                                <li>
                                    La Plataforma mostrará un directorio de todos los Profesionales de Derecho <b class="lc-italic">(“Directorio”)</b>, los cuales estarán clasificados en áreas de especialidad, rango de Tarifas,
                                    ubicación dentro del Perú, calificaciones de Clientes, entre otros que la Plataforma pueda considerar conveniente.
                                    Respecto a las calificaciones de Clientes, estos últimos podrán calificar al Profesional de Derecho luego de haber recibido el Servicio de Asesoría Legal.
                                </li>
                                <li>
                                    La información de perfil de los Profesionales de Derecho, tales como nombre, número de colegiatura, área de especialización, información académica y profesional,
                                    entre otros, se podrán visualizar en la Plataforma.
                                    Sin embargo, los datos de contacto del Profesional de Derecho no se podrán visualizar hasta luego de que el Cliente realice el pago de la Tarifa.
                                </li>
                                <li>
                                    El Cliente podrá elegir directamente al Profesional de Derecho, para lo cual deberá esperar que este último confirme la aceptación del Servicio de Asesoría Legal.
                                </li>
                                <li>
                                    De otra manera, en caso de que, el Cliente no elija directamente al Profesional de Derecho, podrá registrar su caso en la Plataforma, para lo cual,
                                    un asesor de la Plataforma se comunicará con el Cliente, a fin de verificar la solicitud. Luego de verificada la solicitud, la Plataforma enviará un correo al cliente señalando la aceptación del caso,
                                    y se expondrá dicha solicitud en la Plataforma, a fin de que los Profesionales de Derecho puedan postular para brindar el Servicio de Asesoría Legal.
                                    La Plataforma elegirá a los Profesionales de Derecho que considere conveniente y los pondrá a disposición del Cliente, para que este último elija.
                                </li>
                            </ul>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Declaraciones y garantías del Profesional de Derecho </h3>
                            <p>
                                De acuerdo al procedimiento descrito en el numeral IV del presente documento, el Profesional de Derecho declara:
                            </p>
                            <ul class="lc-definition-list">
                                <li>
                                    Que, cumple con todas las exigencias legales y autorizaciones respectivas para brindar Servicios de Asesoría Legal, conforme a la normativa que le sea aplicable según la legislación peruana.
                                </li>
                                <li>
                                    Que, será responsable por cualquier daño y/o perjuicio generado por la prestación de sus Servicios de Asesoría Legal a los Clientes.
                                </li>
                                <li>
                                    Que, de manera voluntaria y bajo propia cuenta y riesgo se ha registrado en la Plataforma, asumiendo todos los riesgos de su utilización.
                                </li>
                                <li>
                                    Que, conoce y acepta que la Sociedad no asume responsabilidad ni garantiza un ingreso mínimo esperado por la prestación de sus Servicios de Asesoría Legal a través de la Plataforma.
                                </li>
                                <li>
                                    Que, conoce y acepta que la Sociedad no será solidariamente responsable por los daños y perjuicios generados por la prestación de los Servicios de Asesoría Legal a través de la Plataforma.
                                </li>
                            </ul>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Uso Lícito</h3>
                            <p>
                                El acceso y el uso de la Plataforma sólo podrá ser realizado por aquellas personas que conforme a la legislación aplicable tengan capacidad para contratar.
                                La Plataforma podrá ser utilizada únicamente con fines lícitos y que no transgredan las buenas costumbres o sus políticas de uso.
                                El contenido, información y/o material que la Sociedad pone al alcance del Usuario, a través de esta Plataforma contiene elementos amparados por normas de propiedad intelectual y derechos de autor,
                                incluyendo protección del software, fotografías, logos, diseños, imágenes gráficas, sin que esta descripción implique limitación de naturaleza alguna sobre la extensión de los contenidos
                                de propiedad intelectual cuya titularidad corresponde a la Sociedad o a terceros.
                                <br />
                                <br />
                                Por tanto, el Usuario se encuentra prohibido de replicar, alterar o realizar cualquier cambio o modificación al contenido, información y/o material disponible en la Plataforma
                                sin contar con la autorización correspondiente y por escrito de la Sociedad. En caso el Usuario realice modificaciones sin autorización o replique el contenido, información y/o
                                material disponible en la Plataforma para usos no autorizados por la Sociedad, el Usuario responderá por los daños y perjuicios ocasionados a la Sociedad o a terceros,
                                sin perjuicio de la responsabilidad administrativa o penal que correspondiese. la Sociedad, podrá suspender temporal o definitivamente la Cuenta Única de aquellos Usuario
                                que incurran en las acciones antes mencionadas.
                                <br />
                                <br />
                                Asimismo, queda estrictamente prohibida la realización de <b class="lc-italic">“Operaciones Fraudulentas”</b> en la Plataforma. Para efectos del presente documento, se entenderá por Operaciones Fraudulentas,
                                cualquier acto realizado por el Usuario para obtener un lucro o beneficio indebido, incluyendo sin limitar la suplantación de identidades;
                                la creación de cuentas falsas; el ingreso de información financiera o bancaria falsa, o previamente sustraída a terceros; y en general,
                                cualquier acto aislado o reiterado que tenga como propósito engañar a la Plataforma, al Profesional de Derecho, los Clientes y/o a terceros para obtener un lucro indebido.
                                <br />
                                <br />
                            </p>
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Contraprestación por el Servicio</h3>
                            <p>
                                La contraprestación que el Profesional de Derecho pague por el Servicio a la Sociedad (la <b class="lc-italic">“Contraprestación”)</b>, podrá estar conformada por los siguientes conceptos:
                            </p>
                            <ul class="lc-definition-list">
                                <li>
                                    Porcentaje del monto ganado por la prestación de Servicios de Asesoría Legal a través de la Plataforma.
                                </li>
                                <li>
                                    Pago de suscripción, en caso corresponda.
                                </li>
                            </ul>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Planes de Suscripción y Funcionalidades </h3>
                            <p>
                                El Profesional de Derecho podrá acceder a la Plataforma adquiriendo alguno de los siguientes planes de suscripción: el plan gratuito y el plan premium.
                                En función al plan de suscripción elegido, el Profesional de Derecho a través del uso de la Plataforma podrá:
                            </p>
                            <p style="font-weight:bold;">
                                Plan Gratuito
                            </p>
                            <ul class="lc-definition-list">
                                <li>
                                    Acceder al Directorio.
                                </li>
                                <li>
                                    Absolver hasta dos Consultas Legales de manera gratuita al mes.
                                </li>
                                <li>
                                    Actualizar su información personal y profesional en el Perfil.
                                </li>
                                <li>
                                    Registrar y personalizar a su criterio sus honorarios profesionales por cada caso.
                                </li>
                                <li>
                                    Visualizar el monto total ganado por la prestación de sus Servicios de Asesoría Legal a través de la Plataforma.
                                </li>
                            </ul>
                            <br />
                            <p style="font-weight:bold;">
                                Plan Premium
                            </p>
                            <ul class="lc-definition-list">
                                <li>
                                    Acceder al Directorio.
                                </li>
                                <li>
                                    Absolver Consultas Legales de manera gratuita sin restricción.
                                </li>
                                <li>
                                    Actualizar su información personal y profesional en el Perfil.
                                </li>
                                <li>
                                    Registrar y personalizar a su criterio sus honorarios profesionales por cada caso.
                                </li>
                                <li>
                                    Visualizar el monto total ganado por la prestación de sus Servicios de Asesoría Legal a través de la Plataforma.
                                </li>
                                <li>
                                    Postular para absolver Casos Legales de su interés publicados de manera interna por la Plataforma.
                                </li>
                                <li>
                                    Publicar hasta 2 artículos por mes en el blog de la Plataforma, siempre que éstos hayan sido aprobados y autorizados por la Plataforma.
                                </li>
                                <li>
                                    Ocultar su Perfil las veces que lo considere necesario.
                                </li>
                            </ul>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Tarifas por el Servicio de Asesoría Legal </h3>
                            <p>
                                El precio de las Tarifas es establecido exclusivamente por el Profesional de Derecho; y el Cliente podrá pagar dicha Tarifa a través de la Plataforma,
                                siempre que los Servicios de Asesoría legal hayan solicitados a través de la misma.
                                <br />
                                En ese sentido, la Plataforma pondrá a disposición una pasarela de pagos y solo será responsable por el adecuado funcionamiento de dicha pasarela de pagos,
                                mas no por las Tarifas que se puedan pagar a través de ella.
                                <br />
                                En la medida en que lo permita las Leyes Vigentes, el pago de las Tarifas no serán reembolsables y no será responsabilidad de la Plataforma realizar el reembolso
                                por algún reclamo relacionado a los Servicios de Asesoría Legal, por lo que, en caso de haber alguna discrepancia, el Cliente deberá dirigirse directamente al Profesional de Derecho.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Responsabilidad por contraseñas </h3>
                            <p>
                                El Usuario es el único responsable del resguardo de su contraseña para acceder a su Cuenta Única, debiendo mantenerla bajo absoluta reserva y confidencialidad,
                                sin revelarla o compartirla, en ningún caso, con terceros.
                                <br />
                                El Usuario es responsable de todas las acciones realizadas mediante el uso de su contraseña, así como, del sistema de cómputo usado para acceder a la Plataforma.
                                Toda acción realizada a través de la Cuenta Única de un Profesional de Derecho se presume realizada por éste.
                                <br />
                                En caso de olvido de la contraseña o de cualquier otra circunstancia que suponga un riesgo de acceso y/o de utilización por parte de terceros no autorizados,
                                el Usuario lo comunicará inmediatamente a la Plataforma, a fin de que éste último proceda inmediatamente al bloqueo y sustitución de la misma.
                                En todo caso, todas las operaciones o transacciones realizadas con anterioridad a dicha comunicación se entenderán efectuadas por el Usuario, quien será responsable y
                                pagará los gastos y los daños y perjuicios que se deriven de cualquier acceso o uso no autorizado a la Plataforma.
                                <br />
                                Las acciones que podrá tomar la Sociedad para salvaguardar la seguridad de la Cuenta Única del Usuario no significarán ni podrán ser entendidas en el sentido de que la Sociedad
                                es responsable por las acciones efectuadas por terceros no autorizados a la Cuenta Única.  En cualquier caso, la Sociedad podrá denunciar tales hechos ante las autoridades
                                a fin de encontrar a los responsables.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Vigencia, Renovación y Cancelación de la Cuenta Única  </h3>
                            <p>
                                La Cuenta Única se mantendrá vigente y podrá ser renovada. Asimismo, la Sociedad podrá cancelar la Cuenta Única en caso de incumplimiento
                                por parte del Usuario a los presentes Términos y Condiciones.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Acceso a la Plataforma  </h3>
                            <p>
                                La Sociedad hará sus mejores esfuerzos por mantener el buen y correcto funcionamiento de la Plataforma. Sin embargo,
                                el Usuario reconoce que la Plataforma podrá no estar disponible debido a dificultades técnicas, fallas en el internet, afectaciones en las redes de telecomunicaciones,
                                o por cualquier circunstancia ajena a la Sociedad <b class="lc-italic">(“Interrupciones del Servicio”)</b>.
                                En cualquier caso, el Usuario deberá dar aviso inmediatamente a la Plataforma, a fin de que ésta último se contacte con la Sociedad y se pueda dar solución a aquellas
                                Interrupciones del Servicio imputables a la Sociedad.
                                <br />
                                El Usuario renuncia expresa e irrevocablemente a imputar responsabilidad alguna a la Sociedad o exigir resarcimiento patrimonial alguno, en virtud de perjuicios resultantes
                                de las Interrupciones del Servicio que puedan haberse dado por motivos ajenos a la Sociedad, casos fortuitos y/o de fuerza mayor.
                                <br />
                                En cualquier momento, la Sociedad de manera unilateral podrá realizar modificaciones, alteraciones, adaptaciones o ajustes a la Plataforma,
                                su interfaz gráfica o sus funcionalidades, sin necesidad de notificar previamente a los Profesionales de Derecho.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Exclusión de Responsabilidad de la Sociedad</h3>

                            <ul class="lc-definition-list">
                                <li aria-label="Respecto de los Servicios de Asesoría Legal">
                                    <br />
                                    El Profesional de Derecho y el Cliente declaran y aceptan que la Plataforma sólo habilita el espacio virtual a través del cual,
                                    ambos pueden interconectarse a efectos de solicitar y prestar los Servicios de Asesoría legal respectivamente, por lo que,
                                    reconocen que, la Plataforma no tiene responsabilidad alguna respecto de la idoneidad de los Servicios de Asesoría Legal
                                    que se pudieran brindar en virtud de la relación contractual que establezcan el Profesional de Derecho y el Cliente directamente.
                                    <br />
                                    La Plataforma, sus empleados o directivos no se hacen responsables de los daños o perjuicios indirectos, accidentales o por eventos de caso fortuito o fuerza mayor,
                                    incluyendo daños por lucro cesante a los Clientes; derivados de las consultas, comentarios, y/o conductas inapropiadas y/o negligentes por parte del Profesional de Derecho.
                                    <br />
                                    De igual manera, la Plataforma no interfiere ni se hace responsable en las negociaciones y/o en las Tarifas que se puedan dar entre los Clientes y los Profesionales de Derecho.
                                </li>
                            </ul>
                            <br />
                            <ul class="lc-definition-list">
                                <li aria-label="Respecto de errores o virus en la Plataforma">
                                    <br />
                                    La Sociedad no se hace responsable de los posibles daños o perjuicios en la Plataforma, que puedan derivar de interferencias, omisiones, interrupciones,
                                    virus informáticos, averías o desconexiones en el funcionamiento operativo del sistema electrónico, motivado por causas ajenas a la Sociedad.
                                </li>
                            </ul>
                            <br />

                            <ul class="lc-definition-list">
                                <li aria-label="Respecto de la utilización de la Plataforma">
                                    <br />
                                    La Sociedad, sus empleados o directivos no se hace responsables de los daños o perjuicios indirectos, accidentales o por eventos de caso fortuito o fuerza mayor,
                                    incluyendo daños por lucro cesante, pérdida de uso y pérdida de datos; derivados de o en relación con la utilización de la Plataforma.
                                    <br />
                                    El Usuario es responsable por la veracidad, exactitud, vigencia y autenticidad de la información provista a través de su Cuenta Única.
                                    <br />
                                    El Usuario es responsable del uso que realice de la Plataforma. En ese sentido, el Usuario mantendrá indemne y libre de toda responsabilidad a la Sociedad, y
                                    asumirá la defensa legal de ésta asumiendo todos los costos, por cualesquiera reclamos, denuncias, procedimientos sancionadores, entre otros que pudieran generarse
                                    de o con relación al inadecuado uso o uso ilícito de la Plataforma, del Servicio y/o del Servicio de Asesoría Legal realizado mediante la Cuenta Única.
                                </li>
                            </ul>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Inexistencia de vínculo laboral  </h3>
                            <p>
                                Queda expresamente establecido que la utilización de la Plataforma no entraña o implica en modo alguno una relación subordinada o laboral entre el Profesional de Derecho y la Sociedad,
                                ni ningún tipo de asociación, sociedad o joint venture entre ellas; y que ninguna de las dos Partes es asociada o socia de la otra,
                                no estando además autorizada una de las Partes a asumir obligaciones en nombre de la otra.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Propiedad Intelectual  </h3>
                            <p>
                                El software asociado a la Plataforma, así como todo el contenido, información y/o material disponible en el mismo, son propiedad de la Sociedad, y/o de nuestros servidores externos;
                                por tanto, están protegidos por las leyes y los tratados internacionales en materia de derechos de autor, marcas, patentes, modelos y diseños industriales aplicables en el Perú,
                                sin importar que se encuentren o no registrados. Quedan reservados por la Sociedad, y/o de nuestros servidores externos; todos los derechos no otorgados expresamente en estos Términos y Condiciones.
                                <br />
                                Se encuentra terminantemente prohibido cualquier tipo de copia, distribución, transmisión, retransmisión, publicación, impresión, difusión y/o explotación comercial del material y/o
                                contenido puesto a disposición del Usuario a través de la Plataforma.
                                <br />
                                Cualquier violación a lo dispuesto en éste apartado constituirá una infracción a los derechos de propiedad intelectual y sujetará al infractor a las sanciones administrativas,
                                civiles y será materia para la presentación de la querella, la denuncia o la reclamación ante las autoridades competentes, dentro de la cual se proporcionará la información necesaria
                                para la investigación y persecución del ilícito del que se trate, obligándose el infractor a indemnizar y a liberar de toda responsabilidad a la Sociedad por cualquier reclamación
                                que se pudiere instaurar en su contra derivada de cualquier incumplimiento a lo dispuesto en este apartado.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Derechos de Autor y Marcas Comerciales </h3>
                            <p>
                                Las marcas comerciales, logos, marcas de servicios, marcas registradas (conjuntamente, las <b class="lc-italic">"Marcas Comerciales"</b>) expuestas en la Plataforma son Marcas Comerciales de la Sociedad y
                                no pueden ser usadas con respecto a servicios que no estén relacionados, asociados o patrocinados por sus poseedores de derechos y que puedan causar confusión a los clientes y/o usuarios,
                                o de alguna manera que denigre o desacredite a sus poseedores de derechos.
                                <br />
                                Todas las Marcas Comerciales que no sean de la Sociedad y que aparezcan en la Plataforma o a través de los servicios de la Plataforma, si las hubiera,
                                son propiedad de sus respectivos dueños. Nada que esté contenido en la Plataforma deberá ser interpretado como otorgado, por implicación, desestimación,
                                o de otra manera, alguna licencia o derecho para usar alguna Marca Comercial expuesta en la Plataforma. El mal uso de las Marcas Comerciales expuestas en la Plataforma se encuentra estrictamente prohibido.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Privacidad </h3>
                            <p>
                                De conformidad con la Ley de Protección de Datos Personales, aprobada por Ley No. 29733, CREHANA implementará todas las medidas posibles para mantener la confidencialidad y
                                la seguridad de la información y datos de los Usuarios, pero no responderá por los daños, pérdidas o perjuicios que pudieran derivarse de la violación de esas medidas
                                por parte de terceros que utilicen las redes públicas o internet, alterando los sistemas de seguridad para obtener acceso a la información de los Usuarios.
                                <br />
                                Sin perjuicio de lo anterior, el uso de la Plataforma se encuentra condicionado a la lectura y aceptación libre por parte del Usuario de la Política de Privacidad,
                                la cual se encuentra a su disposición en la Plataforma, por lo que, en caso de registrarse como Usuario, el Usuario manifiesta su conformidad con las Políticas de Privacidad.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Cookies </h3>
                            <p>
                                El Usuario conviene en recibir las Cookies que la Sociedad y/o los servidores contratados por la Sociedad transmitan. Las Cookies pueden contener información tal como la identificación proporcionada
                                por el Usuario o información para rastrear las páginas que el Usuario han visitado.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Modificaciones </h3>
                            <p>
                                La Sociedad se reserva el derecho de actualizar, adicionar, enmendar o de cualquier otra forma modificar el presente documento sin necesidad de previo aviso. Todos los Términos y Condiciones
                                modificados entrarán en vigor al momento de su publicación para todos los efectos legales a que haya lugar. Usted podrá revisar los cambios de los Términos y Condiciones en la Plataforma.
                                <br />
                                Es responsabilidad del Usuario, revisar el presente documento de manera periódica para poder identificar cambios. La continuidad en la utilización de la Plataforma supondrá la aceptación y
                                conocimiento de las modificaciones realizadas en los presentes Términos y Condiciones.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Disposiciones Misceláneas </h3>
                            <p>
                                El Usuario reconoce que la Sociedad podrá ceder libremente sus derechos y obligaciones a cualquier tercero, así como, la Plataforma y la administración de las Cuentas Únicas.
                                <br />
                                Si cualquier parte de estos Términos y Condiciones deviene ilegal, inválida o inaplicable, dicha parte será separada y no afectará la validez y cumplimiento de las disposiciones restantes.
                                <br />
                                El Usuario en este acto, acepta que ha leído detenidamente y comprende el contenido y alcance de todas y cada una de las disposiciones contenidas en los presentes Términos y Condiciones,
                                en la Política de Privacidad y demás documentos publicados por la Sociedad.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Controversias  </h3>
                            <p>
                                Todas las controversias que deriven de la interpretación o el cumplimiento de la presente Política o que guarden relación con éstos, incluyendo cualquier reclamo que
                                pudiera una de las Partes tener en contra de la otra derivada de, o relacionado con el uso de la Plataforma se regirá por las leyes peruanas, renunciando en este acto
                                las Partes a cualquier otra legislación o jurisdicción que, por motivo de sus domicilios presentes o futuros, pudiere corresponderles.
                                <br />
                                Para sugerencias y/o comentarios sobre los Términos y Condiciones de nuestra Plataforma pueden enviarnos una comunicación al siguiente correo electrónico a <a target="_blank" href="mailto:soporte@legalconnection.pe">asesor@legalconnection.pe</a>.
                                <br />
                                El Usuario en este acto, acepta que ha leído detenidamente y comprende el contenido y alcance de todas y cada una de las disposiciones contenidas en los presentes Términos y Condiciones,
                                en la Política de Privacidad y demás documentos publicados por la Sociedad.
                            </p>
                            <br />
                        </li>
                    </ol>
                    <p style="text-align:center">Fecha de última actualización: 05 de noviembre de 2020.</p>

                </div>
            </div>
        </div>
    </div>
</div>*@


<div class="lc-background-light-blue">
    <div class="container">
        <div class="m--padding-20-desktop m--padding-20-tablet m--padding-10-mobile">
            <div class="m-portlet">
                <div class="m-portlet__body">

                    <ol class="ordered-list-roman m--padding-left-60-desktop m--padding-right-60-desktop m--padding-left-30-tablet m--padding-right-30-tablet m--padding-left-10-mobile m--padding-right-10-mobile">
                        <li>
                            <h3 style="font-weight:bold;">Introducción</h3>
                            <p>
                                El presente documento establece los “Términos y Condiciones” de uso que serán aplicables a los Usuarios que utilicen la plataforma digital y/o la página web ubicada en
                                <a target="_blank" href="https://www.legalconnection.pe/">www.legalconnection.pe</a> (en adelante,
                                de manera conjunta <b class="lc-italic">“Plataforma”)</b>,
                                cuya titularidad corresponde a Legal Technology Perú S.A.C (en adelante, <b class="lc-italic">“La Sociedad”)</b>,
                                lo cual implica la aceptación de todas las disposiciones incluidas en el presente documento.
                                <br />
                                <br />
                                Es necesario también leer la Política de Privacidad, en donde detallamos nuestras prácticas de tratamiento de información. Nos preocupamos por mantener seguros a nuestros usuarios y estamos en constante trabajo para recopilar la información de manera confidencial.
                                <br />
                                <br />
                                La Sociedad informa a los Usuarios que en caso de incumplimiento a cualquiera de las disposiciones contenidas en los presentes Términos y Condiciones o en la Política de Privacidad, la Sociedad podrá suspender su cuenta de usuario, retirarle o denegarle el acceso a la Plataforma, en cualquier momento.
                                <br />
                                <br />
                                Se considerará infracción a los presentes Términos y Condiciones, entre otros, la comisión o participación en actos que constituyan conductas abusivas, inapropiadas o ilícitas, actividades fraudulentas o ilegales y en general el comercio de cualquier objeto ilícito o producto de un delito.
                                <br />
                                <br />
                            </p>
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Definiciones</h3>
                            <p>
                                Sin perjuicio de los términos definidos en diversas secciones del presente documento, los términos aquí utilizados con la primera letra mayúscula y que no sean definidos de forma diversa, tendrán el significado que a continuación se les atribuye, pudiendo ser utilizados en masculino, femenino o neutro, así como en singular o en plural, indistintamente y según el contexto:

                                <ul class="lc-definition-list">
                                    <li aria-label="Profesional de Derecho:">
                                        es la persona natural especialista en una rama de derecho, colegiada, con registro en el colegio profesional correspondiente.
                                    </li>
                                    <li aria-label="Cliente:">
                                        es aquella persona natural o jurídica que accede, utiliza y se registra en la Plataforma su Caso Legal a fin de acceder al Servicio de Asesoría Legal y, en caso de requerirse, la cotización provista por un Profesional de Derecho.
                                    </li>
                                    <li aria-label="Usuarios:">
                                        es aquella persona natural o jurídica que accede y utiliza la Plataforma, los cuales podrán ser (i) el Profesional de Derecho o (ii) Cliente, según corresponda.
                                    </li>
                                    <li aria-label="Cuenta Única:">
                                        es la forma de identificación creada (que consta de un ID de acceso y contraseña) que crean los Usuarios para que puedan acceder a los Servicios que ofrece la Plataforma.
                                    </li>
                                    <li aria-label="Directorio:">
                                        es la interfaz pública de la Plataforma donde el Profesional de Derecho podrá publicar su Perfil a fin de que los Clientes que accedan y utilicen la Plataforma conozcan su información profesional.
                                    </li>
                                    <li aria-label="Perfil del Profesional">
                                        e refiere a la interfaz de la Plataforma donde el Profesional de Derecho podrá colocar su información profesional.
                                    </li>
                                    <li aria-label="Leyes Vigentes:">
                                        significan todas las leyes, códigos, normas jurídicas, ordenanzas, reglamentos, tratados, reglas, normas, permisos, resoluciones, órdenes, interpretaciones, decisiones, interdictos, así como las normas, resoluciones y sentencias que actualmente o en el futuro estén vigentes en Perú y resulten aplicables a los Usuarios.
                                    </li>
                                    <li aria-label="Plataforma:">
                                        se refiere a los medios digitales, plataforma y sitio web, cuyas titularidades, corresponden a la Sociedad, a través de los cuales los Profesionales de Derechos y los Clientes podrán interconectarse.
                                    </li>
                                    <li aria-label="Servicio:">
                                        es el servicio brindado por la Sociedad, el cual consiste en brindar al Profesional de Derecho el acceso a una plataforma que le permitirá ofrecer sus servicios legales a Clientes, a fin de ofrecerles a estos últimos sus Servicios de Asesoría Legal o cotizaciones de Patrocinio Legal.
                                    </li>
                                    <li aria-label="Servicio de Asesoría Legal:">
                                        es la consejería y/o asistencia realizada por el Profesional de Derecho en favor de un Cliente con el fin de proporcionar un asesoramiento determinado para absolver la Consulta Legal planteada por el Cliente.
                                    </li>
                                    <li aria-label="Cotizaciones:">
                                        es la propuesta de honorarios de patrocinio legal que brindará el Profesional del Derecho en base a la información brindada por el mismo cliente y/o por la Plataforma sobre el caso legal.
                                    </li>
                                    <li aria-label="Casos Legales:">
                                        es aquel proceso mediante el cual el Cliente detalla un caso en específico a fin de que algún Profesional de Derecho registrado y elegido por la Plataforma pueda orientarlo y ayudarlo a gestionar y/o solucionar lo que el caso requiera.
                                    </li>
                                    <li aria-label="Patrocinio Legal:">
                                        es el acompañamiento y/o representación legal realizado por el Profesional de Derecho al Cliente para procedimientos, procesos legales, escritos, etc; de acuerdo a las necesidades planteadas por el Cliente.
                                    </li>
                                    <li aria-label="Tarifa:">
                                        es el acompañamiento y/o representación legal realizado por el Profesional de Derecho al Cliente para procedimientos, procesos legales, escritos, etc; de acuerdo a las necesidades planteadas por el Cliente.
                                    </li>
                                </ul>
                                <br />
                            </p>
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Alcances del Servicio</h3>
                            <p>
                                La Sociedad es una empresa que a través de la Plataforma interconecta a los Profesionales de Derecho con los Clientes, a fin de que los Profesionales de Derecho puedan ofrecer a éstos últimos sus Servicios de Asesoría Legal y/o cotizaciones de Patrocinio Legal. La Plataforma tiene como único y exclusivo objetivo servir como intermediario digital entre los Profesionales de Derecho y los Clientes; por lo que, en ningún momento y bajo ninguna circunstancia, se entenderá que el fin u objetivo de la Sociedad es proveer servicios de Asesoría Legal y/o contratar a Profesionales de Derecho para que presten dichos servicios.
                                <br />
                                <br />
                                En ese sentido, el Profesional de Derecho reconoce que no mantiene vínculo laboral o relación civil alguna con la Sociedad. El Profesional de Derecho conoce y acepta que será responsable por la prestación de los Servicios de Asesoría Legal y/o Patrocinio Legal. En ese sentido, el Profesional de Derecho se compromete a liberar de responsabilidad, mantener indemne a la Sociedad y a sus accionistas, de y contra todos, las responsabilidades, perjuicios y/o daños que pudieran surgir de la prestación de sus Servicios de Asesoría Legal y/o Patrocinio Legal.
                                <br />
                                <br />
                                La Plataforma comprobará que los Profesionales de Derecho estén cualificados en el ámbito legal general relevante para el Servicio de Asesoría Legal y/o Patrocinio Legal. Aunque la Plataforma puede sugerir uno o más Profesionales de Derecho basados en la información y necesidad presentada por el Cliente en el Caso Legal, la Plataforma no puede ofrecer ningún tipo de garantía en cuanto a la capacidad legal, competencia o calidad de los Profesionales de Derecho que pueden aparecer en la Plataforma. La Plataforma solo actúa como intermediario que permite que el Cliente identifique y determine la idoneidad del Profesional de Derecho para sí mismo.
                                <br />
                                <br />
                                La Plataforma no garantiza la precisión, calidad o integridad de ninguna información o asistencia obtenida de los Profesionales de Derecho. La Plataforma no dirige, ni tiene ningún control sobre ningún Profesional de Derecho ni ofrece garantías ni representación sobre ellos.
                                <br />
                            </p>
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Registro del Profesional de Derecho</h3>
                            <p>
                                Para hacer uso de la Plataforma, en el caso del Profesional de Derecho deberá completar un formulario de registro donde deberá consignar datos de su información personal a fin de solicitar la creación de una Cuenta Única del Profesional de Derecho <b class="lc-italic">(“Solicitud de Registro”)</b>. Los datos que se requerirán para el registro serán: nombre completo, DNI, No. de CAL, correo electrónico, especialidad de área en el Derecho, estudios académicos, entre otros.
                                <br />
                                <br />
                                El Profesional de Derecho conoce y acepta que la Sociedad no se encuentra obligada a aceptar su Solicitud de Registro. La Sociedad cuenta con discrecionalidad para aprobar o denegar las Solicitudes de Registro conforme a los criterios que considere conveniente utilizar para dicho proceso.
                                <br />
                                <br />
                                El Profesional de Derecho deberá proporcionar información certera, completa, actualizada y detallada. No hacerlo representa una violación de los presentes Términos y Condiciones. La Sociedad se reserva los derechos de suspender y de extinguir la Cuenta Única de cualquier Profesional de Derecho que proporcione información falsa, inexacta o engañosa. Asimismo, la Sociedad podrá utilizar diversos medios para identificar al Profesional de Derecho, sin que esto implique que la Sociedad se responsabilice por la certeza de la información provista por la persona física que ostente como Profesional de Derecho.
                                <br />
                                <br />
                            </p>
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Registro de Clientes</h3>
                            <p>
                                A fin de que los Clientes puedan obtener los Servicios de Asesoría legal y/o cotizaciones para el Patrocinio Legal, deberán registrarse en la Plataforma, debiendo completar el formulario de registro con la siguiente información: nombre y DNI del contacto directo y/o representante del Cliente, teléfono, correo electrónico, detalle del Caso Legal, entre otros; sin perjuicio de la información adicional, que le haya requerido la Sociedad, o que pueda requerir en un futuro.
                                <br />
                                <br />
                                El Cliente deberá de proporcionar información certera, completa, actualizada y detallada. No hacerlo representa una violación de los presentes Términos y Condiciones lo cual podría significar la cancelación de la cuenta y/o la resolución contractual (de ser aplicable), en caso la Plataforma lo considere conveniente.
                                <br />
                                <br />
                            </p>
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Obligaciones de los clientes </h3>
                            <ul class="lc-definition-list">
                                <li>
                                    El cliente es el único responsable del contenido, la precisión y la integridad de cada solicitud de caso legal para la asesoría legal y/o cotización, y acepta que esta deberá contener información que sea verdadera, precisa y actual. Si la Plataforma considera que la totalidad o parte de la solicitud infringe cualquiera de las disposiciones de este acuerdo, la Plataforma tendrá derecho a editar, modificar o eliminar cualquier parte de la solicitud del Caso Legal y/o suspender el acceso del Cliente al sitio sin previo aviso.
                                </li>
                                <li>
                                    El Cliente acepta no utilizar la Plataforma de manera ilegal y, en particular, no deberá: Incluir en la solicitud del Caso Legal información falsa.
                                    Enviar a la Plataforma archivos que contengan virus o cualquier otro elemento que pueda dañar el funcionamiento de una computadora u otro dispositivo electrónico.
                                    Hacerse pasar por otra persona.
                                </li>
                                <li>
                                    El Cliente es responsable de asegurarse de que tiene el derecho legal de enviar a la Plataforma cualquier información incluida en la solicitud del Caso Legal. El Cliente no puede enviar un Caso Legal para solicitar cotizaciones para Patrocinio Legal si ya sabe desde el principio que no tiene la intención real de contratar a un Profesional de Derecho. El Cliente no puede enviar un Caso Legal para ningún proyecto que sea ilegal o ilícito.
                                </li>
                                <li>
                                    Una vez que se ha confirmado la reunión entre el Cliente y el Profesional del Derecho para la Asesoría Legal y/o explicación de las cotizaciones para el Patrocinio Legal, el Cliente está obligado a hacer todo lo posible por asistir a la reunión en el tiempo acordado con el Profesional de Derecho.
                                </li>
                                <li>
                                    Al aceptar los términos de contratación, el Cliente acepta quedar obligado por las condiciones establecidas en el contrato de prestación de servicio que deberá firmar con el Profesional de Derecho.
                                </li>
                                <li>
                                    Es responsabilidad del Cliente seleccionar un Profesional de Derecho adecuado y negociar los términos de la cotización para Patrocinio Legal. El Cliente no contratará a ningún Profesional de Derecho si tiene dudas o inquietudes al respecto.
                                </li>
                                <li>
                                    Si el Cliente tiene una disputa con un Profesional de Derecho, el Cliente debe dirigir dicha disputa directamente al Profesional de Derecho o (si corresponde) ante el colegio profesional correspondiente. Sin embargo, el Cliente notificará los detalles de la disputa a la Plataforma tan pronto como sea razonablemente posible, a fin de que pueda tomar las acciones pertinentes dentro de la Plataforma. El Cliente libera a la Plataforma de todos y cada uno de los reclamos, demandas y daños de todo tipo que surjan de o estén relacionados de alguna manera con cualquier disputa que pueda tener con un Profesional de Derecho.
                                </li>
                                <li>
                                    Impuestos. El Cliente debe exigir boleta, factura o recibo por honorarios al Profesional de Derecho como comprobante de la operación.
                                </li>
                            </ul>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Declaraciones y garantías del Profesional de Derecho </h3>
                            <p>
                                El Profesional de Derecho declara:
                            </p>
                            <ul class="lc-definition-list">
                                <li>
                                    Que, cumple con todas las exigencias legales y autorizaciones respectivas para brindar Servicios de Asesoría Legal y Patrocinio Legal, conforme a la normativa que le sea aplicable según la legislación peruana.
                                </li>
                                <li>
                                    Que, de manera voluntaria y bajo propia cuenta y riesgo se ha registrado en la Plataforma, asumiendo todos los riesgos de su utilización.
                                </li>
                                <li>
                                    Que, conoce y acepta que la Sociedad no será responsable por los daños y perjuicios generados por la prestación de los Servicios de Asesoría Legal y/o Patrocinio Legal a los Clientes.
                                </li>
                                <li>
                                    Que, si el Profesional de Derecho se ha comprometido prestar el Servicio de Asesoría legal o Patrocinio Legal a un cliente referido por la Plataforma, éste quedará obligado a hacer todo lo posible por concretar dicha reunión o dichos servicios.
                                </li>
                                <li>
                                    Que, en caso de que el Cliente decida contratar al Profesional de Derecho, éste se compromete a firmar un contrato de prestación de servicios, donde precise el servicio, descripción y alcances del mismo, propuesta de honorarios y formas de pago. Dicho contrato deberá ser escaneado y enviado a <a target="_blank" href="mailto:asesor@legalconnection.pe">asesor@legalconnection.pe</a>.
                                </li>
                                <li>
                                    Que, si el Profesional de Derecho no quisiera tomar el caso legal derivado, éste estará obligado a poner en conocimiento de su decisión a la Plataforma en un plazo razonable.
                                </li>
                                <li>
                                    Que, la Plataforma es un medio de conexión entre el Profesional del Derecho y el Cliente, y solo participa como intermediario entre ambas partes.
                                </li>
                                <li>
                                    Cabe señalar que la Plataforma no interviene en la negociación y perfeccionamiento del contrato definitivo entre las partes (propuesta de honorarios, plazos de pago, alcances del servicio, etc); y, por tanto, no será responsable por el efectivo cumplimiento de las obligaciones asumidas por los Profesionales de Derecho en el perfeccionamiento de la operación. El Profesional de Derecho conoce y acepta que al realizar operaciones con otros Usuarios o terceros lo hace bajo su propio riesgo. En ningún caso la Plataforma será responsable por lucro cesante, o por cualquier otro daño y/o perjuicio que haya podido sufrir el Profesional de Derecho, con excepción del pago inicial pactado con el cliente, el cual será depositado en la cuenta bancaria de la Sociedad.
                                </li>
                                <li>
                                    El Profesional de Derecho acepta que está prohibido brindar datos de contacto (número de celular, correo, redes sociales, etc) a los Clientes durante las Asesorías Legales.
                                </li>
                                <li>
                                    El Profesional de Derecho acepta tener conocimiento pleno y expreso que la Plataforma comisiona el porcentaje del 11.8% (10% de comisión + igv) por cada uno de los servicios correspondientes al Servicio de Asesorías Legales y/o Patrocinio de Casos Legales.
                                </li>
                                <li>
                                    El Profesional de Derecho acepta tener conocimiento pleno y expreso que el pago por el Servicio de Asesorías Legales se efectuarán a la cuenta bancaria de la Sociedad, como garantía de pago de la comisión pactada. En ese sentido, finalizada la Asesoría Legal, se le abonará el monto correspondiente a la cuenta personal del Profesional de Derecho.
                                </li>
                                <li>
                                    El Profesional de Derecho acepta tener conocimiento pleno y expreso que el primer pago entre el Cliente y el Abogado por el Patrocinio Legal, no deberá ser menor a la comisión del 11.8% del monto total acordado por el Caso Legal; y, asimismo, deberá ser depositada a la cuenta bancaria de la Sociedad, como garantía de pago de la comisión pactada.
                                </li>
                            </ul>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Uso Lícito</h3>
                            <p>
                                El acceso y el uso de la Plataforma sólo podrá ser realizado por aquellas personas que conforme a la legislación aplicable tengan capacidad para contratar. La Plataforma podrá ser utilizada únicamente con fines lícitos y que no transgredan las buenas costumbres o sus políticas de uso.
                                <br />
                                <br />
                                En caso el Usuario realice modificaciones sin autorización o replique el contenido, información y/o material disponible en la Plataforma para usos no autorizados por la Sociedad, el Usuario responderá por los daños y perjuicios ocasionados a la Sociedad o a terceros, sin perjuicio de la responsabilidad administrativa o penal que correspondiese. la Sociedad, podrá suspender temporal o definitivamente la Cuenta Única de aquellos Usuario que incurran en las acciones antes mencionadas.
                                <br />
                                <br />
                                Asimismo, queda estrictamente prohibida la realización de <b class="lc-italic">“Operaciones Fraudulentas”</b> en la Plataforma. Para efectos del presente documento, se entenderá por Operaciones Fraudulentas, cualquier acto realizado por el Usuario para obtener un lucro o beneficio indebido, incluyendo sin limitar la suplantación de identidades; la creación de cuentas falsas; el ingreso de información financiera o bancaria falsa, o previamente sustraída a terceros; y en general, cualquier acto aislado o reiterado que tenga como propósito engañar a la Plataforma, al Profesional de Derecho, los Clientes y/o a terceros para obtener un lucro indebido.
                                <br />
                                <br />
                            </p>
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Tarifas por el Servicio de Asesoría Legal </h3>
                            <p>
                                El precio de las Tarifas es establecido exclusivamente por el Profesional de Derecho y el Cliente.
                                <br />
                                En la medida en que lo permitan las Leyes Vigentes, el pago de las Tarifas solo serán reembolsables en el caso de que el Profesional de Derecho incumpla con la asistencia al Servicio de Asesoría Legal, siempre que quede evidenciado, de manera objetiva, dicho incumplimiento.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Responsabilidad por contraseñas </h3>
                            <p>
                                El Usuario es el único responsable del resguardo de su contraseña para acceder a su Cuenta Única, debiendo mantenerla bajo absoluta reserva y confidencialidad, sin reverlar o compartirla, en ningún caso, con terceros.
                                <br />
                                El Usuario es responsable de todas las acciones realizadas mediante el uso de su contraseña, así como, del sistema de cómputo usado para acceder a la Plataforma. Toda acción realizada a través de la Cuenta Única de un Profesional de Derecho se presume realizada por éste.
                                <br />
                                En caso de olvido de la contraseña o de cualquier otra circunstancia que suponga un riesgo de acceso y/o de utilización por parte de terceros no autorizados, el Usuario lo comunicará inmediatamente a la Plataforma, a fin de que éste último proceda inmediatamente al bloqueo y sustitución de la misma. En todo caso, todas las operaciones o transacciones realizadas con anterioridad a dicha comunicación se entenderán efectuadas por el Usuario, quien será responsable y pagará los gastos y los daños y perjuicios que se deriven de cualquier acceso o uso no autorizado a la Plataforma.
                                <br />
                                Las acciones que podrá tomar la Sociedad para salvaguardar la seguridad de la Cuenta Única del Usuario no significarán ni podrán ser entendidas en el sentido de que la Sociedad es responsable por las acciones efectuadas por terceros no autorizados a la Cuenta Única.  En cualquier caso, la Sociedad podrá denunciar tales hechos ante las autoridades a fin de encontrar a los responsables.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Vigencia, Renovación y Cancelación de la Cuenta Única  </h3>
                            <p>
                                La Cuenta Única se mantendrá vigente y podrá ser renovada. Asimismo, la Sociedad podrá cancelar la Cuenta Única en caso de incumplimiento por parte del Usuario a los presentes Términos y Condiciones. Asimismo, los Usuarios podrán darse de baja a su Cuenta Única enviando un correo a <a target="_blank" href="mailto:soporte@legalconnection.pe">soporte@legalconnection.pe</a>.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Acceso a la Plataforma  </h3>
                            <p>
                                La Sociedad hará sus mejores esfuerzos por mantener el buen y correcto funcionamiento de la Plataforma. Sin embargo, el Usuario reconoce que la Plataforma podrá no estar disponible debido a dificultades técnicas, fallas en el internet, afectaciones en las redes de telecomunicaciones, o por cualquier circunstancia ajena a la Sociedad <b class="lc-italic">(“Interrupciones del Servicio”)</b>.
                                En cualquier caso, el Usuario deberá dar aviso inmediatamente a la Plataforma, a fin de que ésta última se contacte con la Sociedad y se pueda dar solución a aquellas Interrupciones del Servicio imputables a la Sociedad.
                                <br />
                                El Usuario renuncia expresa e irrevocablemente a imputar responsabilidad alguna a la Sociedad o exigir resarcimiento patrimonial alguno, en virtud de perjuicios resultantes de las Interrupciones del Servicio que puedan haberse dado por motivos ajenos a la Sociedad, casos fortuitos y/o de fuerza mayor.
                                <br />
                                En cualquier momento, la Sociedad de manera unilateral podrá realizar modificaciones, alteraciones, adaptaciones o ajustes a la Plataforma, su interfaz gráfica o sus funcionalidades, sin necesidad de notificar previamente a los Profesionales de Derecho.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Exclusión de Responsabilidad de la Sociedad</h3>

                            <ul class="lc-definition-list">
                                <li aria-label="Respecto de los Servicios de Asesoría Legal y/o cotizaciones de Patrocinio Legal.">
                                    <br />
                                    El Profesional de Derecho y el Cliente declaran y aceptan que la Plataforma sólo habilita el espacio virtual a través del cual, ambos pueden interconectarse a efectos de solicitar y prestar los Servicios de Asesoría legal y/o cotizaciones de Patrocinio Legal respectivamente; por lo que, reconocen que, la Plataforma no tiene responsabilidad alguna respecto de la idoneidad de los Servicios de Asesoría Legal y/o Patrocinio Legal que se pudieran brindar en virtud de la relación contractual que establezcan el Profesional de Derecho y el Cliente directamente.
                                    <br />
                                    La Plataforma no es un estudio de abogados y no proporciona ningún servicio legal ni asesoramiento legal. Por lo tanto, mientras la Plataforma actúe como intermediario, no se aplica ningún privilegio profesional legal a cualquier información que el Cliente proporcione a la Plataforma y no surge ningún deber automático de confidencialidad mediante el uso de la Plataforma, incluida la presentación de solicitudes de Casos Legales.
                                    <br />
                                    La Plataforma, sus empleados o directivos no se hacen responsables de los daños o perjuicios indirectos, accidentales o por eventos de caso fortuito o fuerza mayor, incluyendo daños por lucro cesante a los Clientes; derivados de las consultas, comentarios, y/o conductas inapropiadas y/o negligentes por parte del Profesional de Derecho.
                                    <br />
                                    De igual manera, la Plataforma no interfiere ni se hace responsable en las negociaciones y/o en las Tarifas que se puedan dar entre los Clientes y los Profesionales de Derecho.
                                </li>
                            </ul>
                            <br />
                            <ul class="lc-definition-list">
                                <li aria-label="Respecto de errores o virus en la Plataforma">
                                    <br />
                                    La Sociedad no se hace responsable de los posibles daños o perjuicios en la Plataforma, que puedan derivar de interferencias, omisiones, interrupciones, virus informáticos, averías o desconexiones en el funcionamiento operativo del sistema electrónico, motivado por causas ajenas a la Sociedad.
                                </li>
                            </ul>
                            <br />
                            <ul class="lc-definition-list">
                                <li aria-label="Respecto de la utilización de la Plataforma">
                                    <br />
                                    La Sociedad, sus empleados o directivos no se hacen responsables de los daños o perjuicios indirectos, accidentales o por eventos de caso fortuito o fuerza mayor, incluyendo daños por lucro cesante, pérdida de uso y pérdida de datos; derivados de o en relación con la utilización de la Plataforma.
                                    <br />
                                    El Usuario es responsable por la veracidad, exactitud, vigencia y autenticidad de la información provista a través de su Cuenta Única.
                                    <br />
                                    El Usuario es responsable del uso que realice de la Plataforma. En ese sentido, el Usuario mantendrá indemne y libre de toda responsabilidad a la Sociedad, y asumirá la defensa legal de ésta asumiendo todos los costos, por cualesquiera reclamos, denuncias, procedimientos sancionadores, entre otros que pudieran generarse de o con relación al inadecuado uso o uso ilícito de la Plataforma, del Servicio y/o del Servicio de Asesoría Legal realizado mediante la Cuenta Única.
                                </li>
                            </ul>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Inexistencia de vínculo laboral  </h3>
                            <p>
                                Queda expresamente establecido que la utilización de la Plataforma no entraña o implica en modo alguno una relación subordinada o laboral entre el Profesional de Derecho y la Sociedad, ni ningún tipo de asociación, sociedad o joint venture entre ellas.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Propiedad Intelectual  </h3>
                            <p>
                                El software asociado a la Plataforma, así como todo el contenido, información y/o material disponible en el mismo, son propiedad de la Sociedad, y/o de nuestros servidores externos; por tanto, están protegidos por las leyes y los tratados internacionales en materia de derechos de autor, marcas, patentes, modelos y diseños industriales aplicables en el Perú, sin importar que se encuentren o no registrados. Quedan reservados por la Sociedad, y/o de nuestros servidores externos; todos los derechos no otorgados expresamente en estos Términos y Condiciones.
                                <br />
                                Se encuentra terminantemente prohibido cualquier tipo de copia, distribución, transmisión, retransmisión, publicación, impresión, difusión y/o explotación comercial del material y/o contenido puesto a disposición del Usuario a través de la Plataforma.
                                <br />
                                Cualquier violación a lo dispuesto en éste apartado constituirá una infracción a los derechos de propiedad intelectual y sujetará al infractor a las sanciones administrativas, civiles y será materia para la presentación de la querella, la denuncia o la reclamación ante las autoridades competentes, dentro de la cual se proporcionará la información necesaria para la investigación y persecución del ilícito del que se trate, obligándose el infractor a indemnizar y a liberar de toda responsabilidad a la Sociedad por cualquier reclamación que se pudiere instaurar en su contra derivada de cualquier incumplimiento a lo dispuesto en este apartado.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Derechos de Autor y Marcas Comerciales </h3>
                            <p>
                                Las marcas comerciales, logos, marcas de servicios, marcas registradas (conjuntamente, las <b class="lc-italic">"Marcas Comerciales"</b>) expuestas en la Plataforma son Marcas Comerciales de la Sociedad y no pueden ser usadas con respecto a servicios que no estén relacionados, asociados o patrocinados por sus poseedores de derechos y que puedan causar confusión a los clientes y/o usuarios, o de alguna manera que denigre o desacredite a sus poseedores de derechos.
                                <br />
                                Todas las Marcas Comerciales que no sean de la Sociedad y que aparezcan en la Plataforma o a través de los servicios de la Plataforma, si las hubiera, son propiedad de sus respectivos dueños. Nada que esté contenido en la Plataforma deberá ser interpretado como otorgado, por implicación, desestimación, o de otra manera, alguna licencia o derecho para usar alguna Marca Comercial expuesta en la Plataforma. El mal uso de las Marcas Comerciales expuestas en la Plataforma se encuentra estrictamente prohibido.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Privacidad </h3>
                            <p>
                                De conformidad con la Ley de Protección de Datos Personales, aprobada por Ley No. 29733, la Sociedad implementará todas las medidas posibles para mantener la confidencialidad y la seguridad de la información y datos de los Usuarios, pero no responderá por los daños, pérdidas o perjuicios que pudieran derivarse de la violación de esas medidas por parte de terceros que utilicen las redes públicas o internet, alterando los sistemas de seguridad para obtener acceso a la información de los Usuarios.
                                <br />
                                Sin perjuicio de lo anterior, el uso de la Plataforma se encuentra condicionado a la lectura y aceptación libre por parte del Usuario de la Política de Privacidad, la cual se encuentra a su disposición en la Plataforma, por lo que, en caso de registrarse como Usuario en la Plataforma, el Usuario manifiesta su conformidad con las Políticas de Privacidad.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Cookies </h3>
                            <p>
                                El Usuario conviene en recibir las Cookies que la Sociedad y/o los servidores contratados por la Sociedad transmitan. Las Cookies pueden contener información tal como la identificación proporcionada por el Usuario o información para rastrear las páginas que el Usuario han visitado.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Modificaciones </h3>
                            <p>
                                La Sociedad se reserva el derecho de actualizar, adicionar, enmendar o de cualquier otra forma modificar el presente documento sin necesidad de previo aviso. Todos los Términos y Condiciones modificados entrarán en vigor al día siguiente de su publicación. Usted podrá revisar los cambios de los Términos y Condiciones en la Plataforma.
                                <br />
                                Es responsabilidad del Usuario, revisar el presente documento de manera periódica para poder identificar cambios. La continuidad en la utilización de la Plataforma supondrá la aceptación y conocimiento de las modificaciones realizadas en los presentes Términos y Condiciones.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Disposiciones Misceláneas </h3>
                            <p>
                                El Usuario reconoce que la Sociedad podrá ceder libremente sus derechos y obligaciones a cualquier tercero, así como, la Plataforma y la administración de las Cuentas Únicas.
                                <br />
                                Si cualquier parte de estos Términos y Condiciones deviene ilegal, inválida o inaplicable, dicha parte será separada y no afectará la validez y cumplimiento de las disposiciones restantes.
                                <br />
                                El Usuario en este acto, acepta que ha leído detenidamente y comprende el contenido y alcance de todas y cada una de las disposiciones contenidas en los presentes Términos y Condiciones, en la Política de Privacidad y demás documentos publicados por la Sociedad.
                            </p>
                            <br />
                        </li>
                        <li>
                            <h3 style="font-weight:bold;">Controversias  </h3>
                            <p>
                                Todas las controversias que deriven de la interpretación o el cumplimiento de la presente Política o que guarden relación con éstos, incluyendo cualquier reclamo que pudiera una de las Partes tener en contra de la otra derivada de, o relacionado con el uso de la Plataforma se regirá por las leyes peruanas, renunciando en este acto las Partes a cualquier otra legislación o jurisdicción que, por motivo de sus domicilios presentes o futuros, pudiere corresponderles.
                                <br />
                                Para sugerencias y/o comentarios sobre los Términos y Condiciones de nuestra Plataforma pueden enviarnos una comunicación al siguiente correo electrónico a <a target="_blank" href="mailto:asesor@legalconnection.pe">asesor@legalconnection.pe</a>.
                            </p>
                            <br />
                        </li>
                    </ol>
                    <p style="text-align:center">Fecha de última actualización: 05 de febrero de 2021.</p>

                </div>
            </div>
        </div>
    </div>
</div>
