@{
    ViewBag.Title = "Caso Registrado con Éxito";
}

<div class="m-portlet m-portlet--mobile m-portlet--body-progress row">
    <div class="m-portlet__body col-xl-12">
        <form id="form_add_legal_case">
            <div class="m-form__group form-group">
                <h1 class="mb-5 text-center m--font-boldest2">CASO REGISTRADO SATISFACTORIAMENTE</h1>
                <span class="h5">En breve un asesor se contactará contigo para brindarte mayor alcance sobre nuestro servicio.</span>
                <div class="row">
                    <div class="form-group m-form__group col-lg-12 mt-5 text-center">
                        <a href="/mis-casos" class="btn m-btn--pill btn-primary m-btn--md m-btn m-btn--custom">IR A MIS CASOS</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
