<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="withdrawal_request_detail_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Caso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group m-form__group col-lg-12">
                        <label>Banco</label>
                        <input class="form-control m-input" name="FinancialEntity" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group m-form__group col-lg-12">
                        <label>Cuenta de Banco</label>
                        <input class="form-control m-input" name="BankAccount" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group m-form__group col-lg-12">
                        <label>Cuenta Interbancaria</label>
                        <input class="form-control m-input" name="InterbankAccount" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group m-form__group col-lg-6">
                        <label>Nombre Completo</label>
                        <input class="form-control m-input" name="FullName" />
                    </div>
                    <div class="form-group m-form__group col-lg-6">
                        <label>Dni</label>
                        <input class="form-control m-input" name="Dni" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group m-form__group col-lg-12">
                        <label>Monto Solicitado</label>
                        <input class="form-control m-input" name="Amount" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group m-form__group col-lg-12">
                        <label>Observaciones</label>
                        <textarea rows="4" name="Observation" class="form-control m-input"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>