@{
    ViewData["Title"] = "Listado de Abogados Registrados";
    ViewData["Breadcrumbs"] = new[] {
    new BreadcrumbViewModel { Name = ViewData["Title"].ToString() }
    };
}

<div class="m-portlet m-portlet--tabs">
    <div class="m-portlet__head">
        <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs-line m-tabs-line--right">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#home">Sin plan</a>
                </li>
                <li class=" nav-item m-tabs__item  "><a class="nav-link m-tabs__link" data-toggle="tab" href="#menu1">Con plan</a></li>
            </ul>
          </div>
    </div>
    <div class="m-portlet__body">
        <div class="tab-content">
            <div id="home" class="tab-pane fade in show active">
                <div class="m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="row">
                                <div class="form-group m-form__group col-xl-4">
                                    <div class="m-input m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search">
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-bordered m-table m-table--head-bg-primary table-responsive-lg" id="tbl-data"> </table>
            </div>
            <div id="menu1" class="tab-pane fade">
                <div class="m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="row">
                                <div class="form-group m-form__group col-xl-4">
                                    <div class="m-input m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search">
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-striped table-bordered m-table m-table--head-bg-primary table-responsive" id="tbl-data2"> </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/areas/admin/lawyer/validated.js" asp-append-version="true"></script>
}
