<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="benefits">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Beneficios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                CONOCE LOS BENEFICIOS QUE LEGALPRO OFRECE PARA TI
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary">LEGALPRO</button>*@
                <a class="btn m--font-boldest2 btn-lc-green" style="background-color:#ffcc00; color:#384854;" href="/abogado/planes">BENEFICIOS LEGALPRO</a>
            </div>
        </div>
    </div>
</div>