@model LC.WEB.Areas.Lawyer.Models.LegalCase.ReportAbandonmentViewModel

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="report_abandonment_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reportar Abandono</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="report_abandonment_form" autocomplete="off">
                <div class="modal-body">
                    <input type="hidden" asp-for="LegalCaseId" />
                    <div class="row">
                        <div class="form-group m-form__group col-lg-12">
                            <label asp-for="Observation">Sustento</label>
                            <textarea asp-for="Observation" class="form-control m-input" required rows="10" maxlength="1000"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Enviar Sustento</button>
                </div>
            </form>
        </div>
    </div>
</div>