@model List<LC.WEB.Models.Home.SectionItemViewModel>

<div class="m-portlet m-portlet--unair lc-background-gradient" style="margin-bottom:unset;opacity:0.9">
    <div class="container">
        <h1 class="toast-title portal-title text-white">El abogado se contactará contigo para resolver tu caso</h1>
        @if (Model != null && Model.Count() > 0)
        {
            <div class="row" style="padding:20px">
                <div class="col-lg-8 col-md-8 m-lg-auto m-md-auto">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="m-card-profile">
                                    <div class="m-card-profile__pic">
                                        <div class="">
                                            <img src="/documentos/@item.UrlImage" style="width:100%;max-width:200px !important;border-radius:0px" />
                                        </div>
                                    </div>
                                    <div class="m-card-profile__details">
                                        <span class="m-card-profile__name text-white">@item.Headline</span>
                                        <span class="m-card-profile__email m-link text-white">
                                            @item.Description
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
