
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="observation_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Observaciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group m-form__group col-lg-12">
                        <label name="Observation">Observaciones</label>
                        <textarea readonly name="Observation" class="form-control m-input" required rows="10" maxlength="1000"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>