<div class="modal fade" id="preview-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold">
                    Previo de Imagen
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group m-form__group row">
                    <div class="m-form__group-sub col-md-12 col-lg-12 col-xs-12">
                        <img id="upload-preview" style="width: 100%;" src="" />
                    </div>
                </div>

                <div class="m--margin-top-20"></div>

                <div class="form-group m-form__group row">
                    <div class="m-form__group-sub col-md-12 col-lg-12 col-xs-12 text-center">
                        <button id="btnCropSave" class="btn btn-primary text-center" type="submit">Recortar y Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>