<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="lawyerinfo_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <h5 class="col-12">Puedes visualizar los datos del abogado</h5>
                    <div class="col-12 row">
                        <div class="col-12 mt-3">
                            <h5 class="m--font-boldest name"></h5>
                            <span>Correo : </span><span class="m--font-bold email"></span><br />
                            <span class="m--font-bold">Celular : </span><span class="m--font-bold phoneNumber"></span><br />
                        </div>
                    </div>

                    <h5 class="col-12 mt-3"><span class="m--font-boldest2">Pronto el abogado se pondr&aacute; en contacto contigo.</span></h5>
                    <div class="col-12 mt-4">
                        <button data-dismiss="modal" type="button" class="btn btn-primary m-btn m-btn--custom">Entendido</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>