@model LC.WEB.Areas.Lawyer.Models.Profile.LanguageViewModel

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="language_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Idiomas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="language_form" autocomplete="off">
                <input type="hidden" name="Id" />
                <div class="modal-body">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="row">
                        <div class="form-group m-form__group col-lg-12">
                            <label asp-for="LanguageId">Idioma</label>
                            <select asp-for="LanguageId" class="m-select2 form-control" required></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group m-form__group col-lg-12">
                            <label asp-for="Level">Nivel</label>
                            <select asp-for="Level" class="m-select2 form-control" required>
                                @foreach (var option in ConstantHelpers.ENTITIES.LAWYER_LANGUAGE.LEVEL.VALUES)
                                {
                                    <option value="@option.Key">@option.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>