@model LC.WEB.Models.Account.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@section Styles{
    <style>
        .input-group .input-group-append > .input-group-text, .input-group .input-group-prepend > .input-group-text {
            border-color: #ffffff;
            background-color: #ffffff;
            border-bottom: 1px solid #ebedf2;
            color: #575962;
        }

        .input-validation-error {
            border: solid 1px #ff0000;
        }

        .input-error-validate {
            border-bottom-color: red !important;
        }

        .label-error-validate {
            color: red;
        }
    </style>

    <link href="~/css/views/account/login.css" rel="stylesheet" />

}

<div class="m--padding-100-desktop m--padding-50-tablet m--padding-10-mobile m--padding-top-10" style="padding-top:0px !important;padding-bottom:0px !important;">
    <div class="m--padding-100-desktop m--padding-50-tablet m--padding-10-mobile m--padding-top-10" style="padding-bottom: 0px !important;">
        <div class="m-portlet m-portlet--mobile m-portlet--body-progress lc-background-gradient lc-border-radius-gradient-side" style="">
            <div class="m-portlet__body d-lg-flex d-md-flex d-sm-block" style="padding:0px !important;">
                <div class="col-lg-6 col-md-6 col-sm-12 bg-white lc-border-radius-white-side" style="padding:0px !important;">
                    <div class="m-login__signin m--padding-50-desktop m--padding-20-tablet m--padding-20-mobile">
                        <div class="m-login__head text-center">
                            <h3 class="m-login__title">REESTABLECER CONTRASEÑA</h3>
                        </div>
                        <form id="forgot_password" class="mt-5 m-login__form m-form" asp-action="ResetPassword" asp-controller="Account" method="post">
                            <input type="hidden" asp-for="Code" />
                            <div class="form-group m-form__group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="la la-user"></i></span></div>
                                    <input type="text" class="form-control m-input" asp-for="UserName" placeholder="Correo Electónico" required>
                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="la la-unlock"></i></span></div>
                                    <input type="password" class="form-control m-input" asp-for="Password" placeholder="Contraseña" required>
                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="la la-unlock"></i></span></div>
                                    <input type="password" class="form-control m-input" asp-for="ConfirmPassword" placeholder="Confirmar Contraseña" required>
                                </div>
                            </div>
                            <div class="m-login__form-action text-center m--padding-10">
                                <div class="col-8 " style="margin:auto">
                                    <button type="submit" class="btn btn-lc-green m-btn m-btn--pill m-btn--custom m-btn--air">ENVIAR</button>
                                </div>
                            </div>
                            <div class="m-login__form-action text-center m--padding-10">
                                <a asp-controller="Account" asp-action="Login" class="m-link">REGRESAR PARA INICIAR SESI&Oacute;N</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" style="padding:0px !important">
                    <div class="m-login__signin m--padding-50-desktop m--padding-20-tablet m--padding-20-mobile">
                        <a href="/">
                            <img src="/images/logo/logo_horizontal_blanco.png" alt="Alternate Text" class="lc-logo-login" />
                        </a>
                        <div class="row">
                            <span class="lc-welcome-text text-center m--padding-20-desktop">
                                Bienvenido a Legal Connection
                            </span>
                        </div>
                        <div class="row">
                            <span class="text-white text-center m--padding-20-desktop">
                                Si buscas un abogado, registrate y envíanos tu caso para ayudarte a encontrar al abogado que necesitas.
                                <br />
                                <br />
                                Si eres abogado, registra tu perfil y postula
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-8 text-center" style="margin:auto">
                                <a id="register_link" asp-controller="Account" asp-action="Register" class="btn btn-lc-transparent-white m-btn m-btn--pill m-btn--custom m-btn--air">REGISTRARME</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var form = $("#forgot_password").validate();
        $("#send").click(function () {
            if ($("#forgot_password").valid()) {
                $(this).addClass("m-loader m-loader--right m-loader--light").attr("disabled", true);
                $("#forgot_password").submit();
            }
        })
        $('#ConfirmPassword').keyup(function (e) {
            if (e.keyCode == 13) {
                if ($("#forgot_password").valid()) {
                    $(this).addClass("m-loader m-loader--right m-loader--light").attr("disabled", true);
                    $("#forgot_password").submit();
                }
            }
        });
    </script>
}
