@model List<LC.WEB.Areas.Lawyer.Models.Profile.LanguageViewModel>

@if (Model.Any())
{
    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="row mt-2">
            <div class="col-12 row">
                <p class="col-6">
                    @Model[i].Name - @Model[i].LevelName
                </p>
                <div class="col-6 d-flex align-items-center justify-content-end">
                    <i data-id="@Model[i].Id" class="fa fa-trash options_partialview btn-language-delete"></i>
                </div>
            </div>
        </div>

        if (i < Model.Count() - 1)
        {
            <div class="m-divider">
                <span></span>
            </div>
        }
    }
}
else
{
    <div class="m-demo__preview col-12">
        <blockquote class="blockquote">
            <p class="mb-0"> Aún no se agregan idiomas</p>
            <footer class="blockquote-footer"><cite title="Source Title"> Recuerda que para recibir m&aacute;s ofertas de casos necesitas tener tu perfil completo y asi podr&aacute;s tener m&aacute;s opciones de ser seleccionado.</cite></footer>
        </blockquote>
    </div>
}
